
.aboutUs{
    padding: 15px;
    color: #d6c2b9;
    background-color: #746660;
}

.aboutUs h2{
    color: #d6c2b9;
}

.aboutUs p{
    font-weight: 600;
}

.aboutUs .assets{
    display: flex;
    flex-direction: column;
}

.aboutUs img{
    margin-bottom: 15px;
    width: 320px;
    height: 250px;
    border-radius: 10px;
}