
.button-comprar{
    padding: 9px;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    background-color: #8e8ab0;
}

.button-comprar:hover{
    cursor: pointer;
    padding: 10px;
    color: #8e8ab0;
    background-color: #fcfcff;
    /* border: 1px solid #574b45; */
    box-shadow: 2px 3px 20px 1px #00000032 ;
}

.subscribe .button{
    background-color: #8e8ab0;
    color: #fff;
}

.subscribe .button:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #5d55bae5;
}

.button-more,
.button-more-coffee{
    padding: 9px;
    font-size: 1rem;
    border: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    background-color: #8e8ab0;
    width: 150px;
    margin-bottom: 15px;
}

.button-more,
.button-more-coffee:hover{
    cursor: pointer;
    color: #8e8ab0;
    background-color: #fff;
}