/* */
.rodape{
    background-color: #544e95d2;
    color: white;
    height: auto;
    /* width: 100vw; */
    font-size: 1rem;
    font-family: helvetica;
}

.text-logo.footer{
    font-size: 1.45rem;
    font-weight: 00;
    /* margin-bottom: 7px; */
    padding: 20px 10px 10px 10px;
}

.rodape p{
    padding-bottom: 5px;
}

.rodape-div{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* width:100vw; */
    margin: auto;
    /* align-items: stretch; */
    padding-left: 20px;
}

.adress, .contact, .sociais{
    display: flex;
    flex-direction: column;
    /* width: calc(50% - 20px); */
    padding: 5px;
}

.sociais .icon{
    flex-direction: row;
}

.rodape span{
    font-size: 20px;
    color: white;
}

.rodape-direitos{
    /* width: calc(100% - 20px); */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 100VW; */
    height: 30px;
    background-color: rgb(34, 34, 34);
    font-size: .75rem;
}

.rodape-icons{
    /* padding: 0px; */
    width: 35px;
}

