/* 
  marrom: #746660

  bege: #d6c2b9

  quasePreto: #202622

  verdin: #a6bdb0

  rocho: #8e8ab0 
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: "Nova Mono", monospace;
}
  
/* .header,
.main{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /* color: #746660; */
  color: #5f3d3d;
}

h3{
  font-size: 1.25rem;
}

h4{
  font-size: 1.1rem;
  color: #5f3d3d;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

span{
  font-size: 1.05rem;
  color: #5f3d3d;
  font-weight: 800;
  padding-bottom: 5px;
}

a{
  text-decoration: none;
}