
@media (min-width: 600px) {
    .menu-mobile {
      display: none;
    }

    .menu-desktop {
      display: flex;
    }

    .navbar{
      justify-content: space-evenly;
    }

    .paralax{
      background-image:  linear-gradient(rgba(0, 0, 0, 0.607), rgba(0, 0, 0,0.448)), url(/projeto_coffeeshop/assetss/img/medias/768.png);
      background-repeat: no-repeat;
    }

    .wrapper{
      grid-template-columns: repeat(3, 1fr);
    }

    .coffee{
      width: 180px;
      height: 235px;
    }
  
    .coffee img{
      width: 120px;
      height: 140px;
    }

    .combo{
      width: 260px;
      height: 370px;
    }
  
    .combo img{
      width: 230px;
      height: 260px;
    }

    .combooos{
      grid-template-columns: repeat(2, 1fr);
    }

    .active-extra{
      display: flex;
    }

    .aboutUs .assets{
      flex-direction: row;
    }

    .aboutUs p{
      margin: 12px;
    }

    .section .combos{
      flex-direction: row;
      justify-content: center;
    }

    .rodape-direitos{
      font-size: 1.1rem;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }


  @media (min-width: 1023px) {
    .wrapper{
      grid-template-columns: repeat(4, 1fr);
      margin: 21px;
    }

    .paralax{
      background-image:  linear-gradient(rgba(0, 0, 0, 0.607), rgba(0, 0, 0,0.448)), url(/projeto_coffeeshop/assetss/img/medias/1024.png);
      background-repeat: no-repeat;
    }

    .title, .title h2 {
      text-align: center;
      font-size: 1.5rem;
    }
  
    .coffee{
      width: 190px;
      height: 245px;
      margin: 15px;
    }

    .coffee img{
      width: 130px;
      height: 270px;
    }

    .combooos{
      grid-template-columns: repeat(3, 1fr);
    }

    .combo{
      width: 250px;
      height: 350px;
    }
  
    .combo img{
      width: 200px;
      height: 230px;
    }

    .combo-extra,
    .coffee-extra{
    display: flex;
    }

    .button-more,
    .button-more-coffee{
      display: none;
    }

    .active-extra{
      display: flex;
    }

    .aboutUs p{
      font-size: 1.15rem;
    }

    .text-logo.footer{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
    }

    .rodape-div{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      position: relative;
      left: -34px;    
    }

  }

  @media (min-width: 1290px) {
    .paralax{
      background-image:  linear-gradient(rgba(0, 0, 0, 0.607), rgba(0, 0, 0,0.448)), url(/projeto_coffeeshop/assetss/img/medias/1901.png);
      background-repeat: no-repeat;
      background-color: #fcdcd0;
    }

    .coffee{
      width: 260px;
      height: 265px;
    }

    .coffee img{
      width: 140px;
      height: 250px;
    }

    .combo{
      width: 280px;
      height: 380px;
    }
  
    .combo img{
      width: 230px;
      height: 260px;
    }

    .aboutUs .assets{
      margin: 0px 227px;
      font-size: 2rem;
    }
    .aboutUs p{
      font-size: 1.35rem;
    }

  }