
@media (min-width: 767px) {
    .menu-mobile {
      display: none;
    }

    .menu-desktop {
      display: flex;
    }

    .navbar{
      justify-content: space-between;
    }

    /* .menu-burguer{
      padding-right: 120px;
    } */

    .wrapper{
      grid-template-columns: repeat(3, 1fr);
      margin: 21px;
    }

    .coffee{
      margin: 5px;
      padding: 5px;
  }

    .section .combos{
      grid-template-columns: repeat(2, 1fr);
    }

    .active-extra{
      display: flex;
  }

  /* .row .wrapper{
      display: grid;
      grid-template-columns: 2fr 3fr;
    } 
  */

    .aboutUs .assets{
      flex-direction: row;
    }

    .aboutUs p{
      margin: 10px;
    }

    .section .combos{
      flex-direction: row;
      justify-content: center;
    }
  }


  @media (min-width: 1023px) {
    .wrapper{
      grid-template-columns: repeat(4, 1fr);
      margin: 21px;
    }

    .active-extra{
      display: none;
    }

    .section .combos{
      grid-template-columns: repeat(3, 1fr);
    }

    .combo-extra{
    display: flex;
    }

  }