
.menu-row{
    /* background-color: #746660; */
    background-color: #d6c2b9;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    /* margin: 5px; */
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 168px;
    height: 227px;
    font-size: bold;
    color: #202622;
    background-color: #fffbeb;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.coffee img{
    width: 80%;
    height: 50%;
    background-color: #f1d6d6;
    border-radius: 10px;
    margin: 5px;
}

.active-extra{
    display: none;
}

.combos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
}

.section .combos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.combos h2{
    padding-top: 30px;
}

.combo{
    width: 320px;
    height: 400px;
}

.combo img{
    width: 240px;
    height: 270px;
}

.combo-extra{
    display: none;
}
