
.menu-row{
    /* background-color: #d1d4f9; */
    /* background-color: #d6c2b9; */
    
    background-color: #D9C1B8;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
    /* margin: 5px; */
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.coffee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 168px;
    height: 227px;
    font-size: bold;
    /* background-color: #fffbeb; */
    background-color: rgb(149 116 116 / 44%);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.coffee img{
    width: 80%;
    height: 50%;
    background-color: #f1d6d6;
    border-radius: 10px;
    margin: 5px;
}


.combos-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.combooos{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.combos h2{
    padding-top: 30px;
}

.combo{
    width: 320px;
    height: 400px;
}

.combo img{
    width: 240px;
    height: 270px;
}

.combo-extra,
.coffee-extra{
    display: none;
}


/* BUTTON SEE MORE */

.combo-extra.visible,
.coffee-extra.visible{
    display: flex;
}

.button-more.visible,
.button-more-coffee.visible{
    display: none;
}

.combo-extra.active-extra{
    display: none;
}